.axis-label {
    text-anchor: left;
    font-size: 12px;
    font-weight: semibold;
}

header {
    display: block;
    font-size: 32px;
    text-align: center;
    font-family: 'Cabin', sans-serif;;
}

label {
    text-align: left;
}

span {
    padding: 2px;
    font-size: 12px;
    width: 50px;
}

.tick.text {
    font-size: 12px;
}

div {
    width: fit-content; 
    height: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 800px 200px;
    grid-template-rows: 600px 500px;
  }

.b5,.b6, .b7, .b8 {
    color: white;
}

body {
    font-family: 'Overlock', cursive;
    margin: 0;
}

h1 {
    font-size: 28px;
    font-family: 'Forum', cursive;
}

#main {
    margin: 20px;
}